<ion-header>
  <ion-toolbar>
    <ion-title>detail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card padding *ngIf="user">
    <img [src]="user?.picture.large" />
    <div>
      <h1>
        {{user?.name.title}}.
        {{user?.name.first}}
        {{user?.name.last}}
      </h1>
    </div>
    <div>
      <ion-label>{{user?.email}}</ion-label>
      <ion-label>{{user?.phone}}</ion-label>
    </div>
  </ion-card>
</ion-content>