<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Default Buttons</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>My Item</ion-label>
    <ion-badge slot="end">22</ion-badge>
  </ion-item>
  <ion-button expand="block" size="small" color="primary" fill="outline" (click)="openDetail()">
    <ion-icon slot="start" name="star"></ion-icon>
    SIGN IN
  </ion-button>
 

  <ion-item *ngFor="let item of users">
      <ion-avatar slot="start">
        <img [src]="item?.picture.large">
      </ion-avatar>
      <ion-label>
        {{item?.name.title}}.
        {{item?.name.first}}
        {{item?.name.last}}
      </ion-label>
    </ion-item>

</ion-content>